*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    
}

#container{
    width: 50%;
    height: 50%;
    background-color: lightslategray;
    
}

#box{
    background: darkred;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

#container span{
    display: inline-block;
    width: inherit;
    height: inherit;
    color:white;        
}


@media screen and (max-width: 480px){
    #container{
        width: 50%;
        height: 50%;
    }
}