*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  
}

.foto{
  width: 10%;
  height: 100%;
  background-color: black; 
  justify-content: left; 
}

.nome{
  position: absolute;  top: 0%;
  left: 13%;



}

.box{
  width: 10%;
  height: 10%;
  background-color: blue;
  position:absolute;
  top: 8%;
  left: 11%;
}