@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');
:root{
    --primay-color:rgb(17, 51, 102);
    --primay-color-lihgter:rgb(25, 74, 147);
    --primay-color-darker:rgb(16, 40, 76);
}
*{
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primay-color);
    font-family: 'Roboto Condensed';
    font-size: 1.8em;
    line-height: 1.5em;
}

.container{
    max-width: 640px;
    margin: 50px auto;
    background: rgb(64, 64, 129);
    padding: 50px;
    border-radius: 10px;
    box-shadow:  0px 2px 5px 1px rgb(24, 24, 24);
    font-style: var(--primay-color);
}

.titulo{
    text-align: center;
    color: white;
    text-shadow: 1px 2px 1px black;
}

#gestante{
    text-align:center;
    cursor: pointer;
    background-color:white;
    width: 30px;
    height: 30px;
    box-shadow: 2px 2px 3px rgb(24, 24, 24);
}

#selecao{
    padding: 0px;
    font-size: 25px;
       
}

#check{
    font-size: 30px;
    display: none;
}

form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 20px;
    height: 40px;
    padding: 0 20px ;
    box-shadow: 2px 2px 3px rgb(43, 43, 43);
}

form input:focus{
    outline: 1px solid var(--primay-color)
}

form button{
    border: none;
    background: var(--primay-color);
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
    box-shadow: 2px 2px 3px rgb(24, 24, 24);
}

form button:hover{
    background:var(--primay-color-lihgter);
}

form button:active{
    background:var(--primay-color-darker);
}

.gestante{
    height: 20px;
    width: 20px;
    box-shadow: 0px 0px 0px;
    border: 0px;
}
.texto-imc{
    color: white;
    
    -webkit-text-stroke:  1px black;
}

.imc1, .infoPeso, .infoAltura{
    text-align: center;
    font-family: 'Roboto Condensed';
    color: white;
    text-shadow: 2px 2px 2px black;
}

.imc2{
    text-align: center;
    font-family: 'Roboto Condensed';
    color: white;
    background-color: rgb(135, 227, 73);
    text-shadow: 1px 2px 2px black;
}
.imc3{
    text-align: center;
    font-family: 'Roboto Condensed';
    color: white;
    background-color: rgb(227, 214, 73);
    text-shadow: 2px 2px 2px black;
}
.imc4{
    text-align: center;
    font-family: 'Roboto Condensed';
    color: white;
    background-color: rgb(227, 134, 53);
    text-shadow: 2px 2px 2px black;
}

.imc5, .gestacional1{
    text-align: center;
    font-family: 'Roboto Condensed';
    color: white;
    background-color: rgb(227, 73, 73);
    text-shadow: 2px 2px 2px black;
}