#div1{
    /*display: block;*/
    color: white;
    width: 50px;
    height: 25px;
    background-color: blue;
}
#div2{
    cursor: pointer;
    color: white;
    background-color: red;
    height: 25px;
    width: 50px;
}