#container{                             /*solicitando id da div principal*/
    background-color:antiquewhite;
    width: 2545px;
    align-self: center;
    text-align: center;   
    align-items: center; 
    align-content: center;
}

#div1 > h1{                             /* > herda do pai */
    color: rgb(116, 6, 6);
}

#div2 h1{
    margin-left: 1025px;
    width: 500px;
    color: orange;
    background-color:lightblue;
    align-self: center;
}